body{
	background: #e4e4e4;
	font-family: arial;
	text-align: center;
	}


/* Fade in page transition */		
@keyframes fadein{
    from{
        opacity:0;
		}
    to {
        opacity:1;
		}
	}

@-moz-keyframes fadein { 
    from {
        opacity:0;
		}
    to {
        opacity:1;
		}
	}

@-webkit-keyframes fadein { 
    from {
        opacity:0;
		}
    to {
        opacity:1;
		}
	}
	

/*Header*/
.header{
	position: absolute;
	top:0;
	right:0;
	width: 400px;
	height:60px;
	}

	.login{
		position: relative;
		float: right;
		padding: 5px;
		padding-top: 10px;
		margin-top: 5px;
		}
		
		.login a{
			position: relative;
			color: #961a1e;
			text-decoration:none;
	
}

		a:hover {
			color:#c84b45;
			}

	.create{
		position: relative;
		float:right ;
		padding: 5px;
		padding-top: 10px;
		margin-right: 15px;
		margin-top: 5px;
		}
		
		.create a{
			position: relative;
			color: #961a1e;
			text-decoration:none;
			}
		
		a:hover {
			color:#c84b45;
			}	
			
	div#break{
		position: relative;
		float: right;
		padding: 5px;
		padding-top: 10px;
		margin-top: 3px ;
		color: #961a1e;
		}

	div#create{
		position: relative;
		float: right;
		padding: 5px;
		padding-top: 10px;
		margin-top: 5px;
		color: #961a1e;
		}


/*Logo*/
.logo{
	margin-top: 150px;
	margin-bottom: 30px;
	padding: 10px;
	z-index: auto;
}


/*Login page*/
.login-container{
	width:300px;
	height:180px;
	margin:0 auto;
	margin-bottom: 0px;
	background-color: #cecece;
	border: 10px solid #cecece;
	animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	}
	
	div#loginpgusername{
		position: relative;
		height: 60px;
		margin: 0 auto;
		}
		
	div#loginpgpassword{
		position: relative;
		height: 60px;
		}

div#newuser{
	position:relative;
	display: inline-block;
	animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	}

	.new-user a{
		color:#666;
		text-decoration:none;
		font-size:13px;
		position: relative;
		float: left;
		}	
		
	a:hover {
		color:#c84b45;
		}	
	
	
/*Creat Account page*/		
div#title{
	margin-top: -30px;
	margin-bottom: -10px;
	animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	}	

.create-container{
	width:610px;
	height:170px;
	margin:0 auto;
	margin-bottom: 0px;
	background-color: #cecece;
	border: 10px solid #cecece;
	animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	}	

	div#username{
		position: relative;
		float: left;
		height: 60px;
		}
	
	div#email{
		position: relative;
		float: left;
		height: 60px;
		}

	div#password{
		position: relative;
		float: right;
		height: 60px;
		margin-right:1px;
		}
		
	div#c-password{
		position: relative;
		float: right;
		height: 60px;
		}


/*Shared page elements*/		
div#button-container{
	position:relative;
	float: top;
	height:30px;
	width:80px;
	background-color: red;
	cursor: pointer; 
	margin-top: 15px:
	}

.login-input {
	width: 285px;
	height: 50px;
	margin:0, auto;
	margin-bottom: 0px;
	padding-left:10px;
	font-size: 15px;
	background: #fff;
	border: 0px solid #c84b45;
	border-radius: 0px;
	z-index: -1;
	}

	.login-input:focus{
		outline-color: #c84b45;
		}

.login-button {
	position: relative;
	float: top;
	width: 297px;
	height: 50px;
	font-size: 15px;
	color: white;
	text-align: center;
	background: #c84b45;
	border: 0px solid #c84b45;
	border-radius: 4px;
	cursor: pointer; 
	margin-top: 8px;
	margin-bottom: 5px;
	}

	.login-button:hover {
		background:#666;
		}
		
	.login-button:focus{
		outline:0 !important;
		background: #494949;
		}


/*footer tag*/
p4{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 20px;
	padding-bottom: 15px;
	font-size: 10pt;
	font-style: italic;
	color: #c4c4c4;
	z-index:-1;
	}



