body{
	background: #e6e6e6;
	font-family: arial;
	height: 100%;
	padding: 0;
	margin: 0;
	animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	}
/*Fade in Transition*/
@keyframes fadein{
    from{
        opacity:0;
		}
    to {
        opacity:1;
		}
	}

@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
		}
	}

@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
		}
	}


/* Header */

.header{
	width: 100%;
	height:60px;
	padding-bottom:22px;
	/*border: solid black 2px;*/
	background-color: #efefef;
	overflow: hidden;
	}

	.logo{
		position: relative;
		float: left;
		background-color:0;
		width: 220px;
		height:auto;
		margin-top: 4px;
		padding: 12px;	
		}
		
	.hints{
		position: relative;
		float: right;
		padding: 5px;
		padding-top: 10px;
		margin-top: 5px;
		font-size: ;
		color: #961a1e;
		}
	
	.break{
		position: relative;
		float: right;
		padding: 5px;
		padding-top: 10px;
		margin-top: 5px ;
		font-size: ;
		color: #961a1e;
		}
	
	.logout{
		position: relative;
		float: right;
		padding: 5px;
		padding-top: 10px;
		margin-right: 360px;
		margin-top: 5px;
		}
	
		.log-out a{
			position: relative;
			font-size: ;
			color: #961a1e;
			text-decoration:none;
			}

		a:hover {
			color:#000000;
			}

		
/*SideBar Hub*/

.hubbg{
	position: fixed;
	right: 0;
	width: 320px;
	height: 100%;
	background:#696969;
	}

		.container {
			position: relative;
			float: right;
			z-index: 1;
			background:#3e3e3e;
			width: 99.8%;
			height: 100%;
			margin: 0 auto;
			}

		.hub{
			position: fixed;
			right: 0;
			width: 320px;
			height: 100%;
			}
		
		nav {
			background: #ffffff;
			width: 100%;
			}
					
	/*Hub header*/
				nav header {
					background: #3e3e3e;
					padding: 20px;
					}
	
					.account_icon{
						position: relative;
						margin: 0 auto;
						margin-top: 10px;
						width: 80px;
						height: 80px;
						}

					.account_name{
						position: relative;
						color: #ffffff;
						width: auto;
						height: 16px;
						text-align: center;
						margin-top: 8px;
						margin-bottom: 0;
						}
					
					

	/*Hub body*/		
	/*body*/	
				nav ul {
					list-style: none;
					margin: 0;
					padding: 0;
					border-top: none;
					}
	/*headers*/			
				nav ul li {
					display: block;
					background: #3e3e3e;
					}
					
					nav ul li a {
						display: block;
						padding: 10px 15px;
						color: #fff;
						text-decoration: none;
						transition: 0.2s linear;
						border-left: 2px solid transparent;
						}
						
					nav ul li a:hover {
						background: #696969;
						padding-left: 20px;
						border-left: 2px solid #961a1e;
						color: #fff;
						}

	/*File Directory*/
				nav .info {
					background: #efefef;
					padding: 20px;
					color: #666;
					font-size: 14px;
					height: 350px;
					overflow: hidden;
					}
					
					.searchbar{
						height: 30px;
						width: auto;
						border: solid black 2px;
					}
					
					.files{
						height: 305px;
						width: auto;
						margin-top: 10px ;
						border: solid black 2px;
					} 
					
	/*lan section*/	
					
					
	/*lan tabs*/		
					nav ul li ul li a:hover {
						padding-left: 45px;
						}	
							
					nav ul li ul li a {
						background: #3e3e3e;
						padding-left: 40px;
						color:#fff;
						}
					
		
/*Content*/

.content{
	background-color:0;
	width: 75%;
	height: 600px;
	}

	.iframecontainer{
		position: relative;
		top:10%;
		margin:0 auto;
		margin-bottom: 0;
		width:65%;
		height:80%;
		}

		.iframe-frame{
			position: relative;
			margin-left:-2px;
			margin-top:-2px;
			width:100%;
			height:100%;
			background: #b15f61;
			z-index: -1;
			}

			.iframe{
				position: relative;
				top:4px;
				left: 4px;
				margin:0 auto;
				margin-bottom: 0;
				width:100%;
				height:100%;
				background: #fff;
				z-index: -1;
				}
	.results{
		width: auto;
		height: auto;
		text-align: center;
		}

div.scrollMenu {
	background-color: white;
	width: 310px;
	height: 450px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	border-radius: 3px;
	padding: 4px;
	overflow-x: hidden;
}


#myInput {
	background-image: url('https://www.w3schools.com/css/searchicon.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 14px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#myUL {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li a {
	border: 1px solid #ddd;
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6;
	padding: 8px;
	text-decoration: none;
	font-size: 14px;
	color: black;
	display: block
}

#myUL li a:hover:not(.header) {
	background-color: #eee;
}

#submitarea {
	margin-left: 250px;
	margin-top: 105px;
	
}

.pagination {
	display: inline-block;
	padding-left: 0px;
	margin-left: inherit;
}

.pagination a {
	background-color: #d4cbcb;
	display: inherit;
	text-align: center;
	padding: 8px 8px;
	border-radius: 200px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #989392;
	color: white;
	border-radius: 200px;
}

.pagination a:hover:not(.active) {
	background-color: #989392;
	border-radius: 200px;
}

#results {
	text-align: center;
}

.textbox {
	padding: 12px 12px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 9px;
	box-sizing: border-box;
}

.submitbtn {
	width: 110px;
	font-size: 18px;
	background-color: #d03637;
	color: white;
	padding: 11px 5px;
	margin: 8px 0;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
}

.submitbtn:hover {
	background-color: #c54c4d;
}

h5 {
	text-align: center;
	margin-block-start: 4px;
	margin-block-end: 4px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
		
