<!DOCTYPE HTML>
<HTML lang="en-US">

	<head>
	</head>

	<body> 
<! Header>
			<a href="create"> Create Account </a>
			<span> | </span>
			<a href="login"> Login </a>
		</div>

<! Create account form>
		<div class="create-container">
			<form class="userform" action="" method="post">
				{{ form.hidden_tag() }}
    			<div id="username">
						{{ form.username(class_="login-input", placeholder="Username", autofocus="autofocus") }}
				</div>
				<div id = "password">
						{{ form.password(class_="login-input", placeholder="Password") }}
				</div>
				<div id="email">
					{{ form.email(class_="login-input", placeholder="Email", autofocus="autofocus") }}<br><br>
					{% for error in form.email.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					<br>
					{% for error in form.username.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</div>
				<div id="c-password">
						{{ form.password2(class_="login-input", placeholder="Confirm password") }}
					<div id="button">
							{{ form.submit(class_="login-button") }}
					</div>
					{% for error in form.password.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					<br>
					{% for error in form.password2.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</div>
				
		</div>

	</body>
</html>
