<!DOCTYPE HTML>
<HTML lang="en-US">
	<head> 
		<title>snitch | Home </title>
		<link rel="icon" href="{{ url_for('static', filename='css/images/icon.png')}}">
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/home.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script>
				function searchFunction() {
					var input, filter, ul, li, a, i;
					input = document.getElementById("myInput");
					filter = input.value.toUpperCase();
					ul = document.getElementById("myUL");
					li = ul.getElementsByTagName("li");
					for (i = 0; i < li.length; i++) {
						a = li[i].getElementsByTagName("a")[0];
						if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
							li[i].style.display = "";
						} else {
							li[i].style.display = "none";
						}
					}
				}
		var docContents = [];
		
		
		console.log("documentContent");
		console.log("{{documentContent[0]}}");
		
		{% for dcontent in documentContent %}
		docContents[ {{ loop.index-1 }} ] = "{{dcontent}}";
		{% endfor %}
		
		
		// Get the modal
		var modal = document.getElementById('myModal');
		
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		
		function showContent(num){
			var contentSpan = document.getElementById("modalContent");
			contentSpan.innerHTML = docContents[num];
			
			var modal = document.getElementById("myModal");
			modal.style.display = "block";
		}
		
		// When the user clicks on <span> (x), close the modal
		function close1(){
			var modal = document.getElementById("myModal");
			modal.style.display = "none";
		}
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			var modal = document.getElementById("myModal");
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
			
		</script>
	</head>
	
	<body>
		
		<!-- The Modal -->
		<div id="myModal" class="modal">
			
			<!-- Modal content -->
			<div class="modal-content">
				<span onClick="close1()" class="close">&times;</span>
				<br>
				<span id="modalContent"></span>
			</div>
			
		</div>
		
		
<! Sidebar Hub>
<div class="hubbg">
	<div class="hub">
	<div class='container'>
		<nav>
			<header>
				<div class="account_icon"> <img src= "{{ url_for('static', filename='css/images/AccountImage.png')}}" alt="account_image" width="100%" height="100%" ></div>
				<div class="account_name"> <font size='4'> {{ current_user.username }}<br><i>{{ current_user.email }}</i></font> </div><br><br>
			</header>
			
		<ul>
				<div class="scrollMenu">
					<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for documents" title="Type in a document name">
						<ul id="myUL">
							{% for doc in docs %}
							<li onClick="showContent({{ loop.index-1 }})"><a>{{doc}}</a></li>
							{% endfor %}
						</ul>
				</div>
				<li class='sub-menu'>	<ul>
				<br><br>
				
		</nav>
	</div>
	</div>
 </div> 
		
<! Header>
		<div class="header"> 
			<div class="logo"> <img src= "{{ url_for('static', filename='css/images/HorizontalLogo.png')}}" alt="snitch" width="90%" height="90%"></div>
			<div class="logout"> <p class="log-out"><a href="/logout"> Logout </a></p> </div>
		</div>

<! Content>		
		<div class="content">
			
			<div id="submitarea">
				<form action="" method="post">
					{{ form.hidden_tag() }}
					<div style="width: fit-content;">
					{{ form.document(cols=100, rows=20, placeholder="Enter text here...", class_="textbox") }}
					<h5>{{ form.spanish.label }} {{ form.spanish() }}</h5>
					<div style="text-align: center;">
					{{ form.submit(class_="submitbtn") }}
					</div>
					<br>
					{% for error in form.document.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					</div>
				</form>
			</div>
			
				<div class ="footer"> </div>	
		</div>		

	</body>
</html>
